@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Tahoma, sans-serif;
    --fonte2: 'Passion One', sans-serif;
    --fonte3: 'Sriracha', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    font-family: var(--fonte30);
}
header{
    background-color: black;
    text-align: center;
    color: white;
}
header > h1{
    font-family: var(--fonte2);
    font-size: 7.5vw;
    padding-top: 40px;
}
header > p{
    padding-bottom: 40px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
section{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.5em;
}
section p{
    font-family: var(--fonte3);
}
section.imagem > p{
    color: white;
    background-color: rgba(0, 0, 0, 0.452);
    width: 13em;
    padding: 0.7em;
    text-shadow: 1px 1px 2px black;
}
section.normal, .imagem{
    font-size: 3vw;
    line-height: 1.6em;
}
section.imagem{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#img01{
background-image: url(../imagens/background001.jpg);
background-position: center center;
}
#img02{
    background-image: url(../imagens/background002.jpg);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    height: 6vh;
}
footer > p{
    font-size: 1.8em;
}
footer > p > a{
    font-family: var(--fonte3);
}
footer > p > a:hover{
    color: darkkhaki;
}